
<div class="container">
  <div class="well">
    <h2>Leave {{constant.siteName}} a Message</h2>
    <form>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input type="date" name="messageDate" ng-model="newMessage.Date" class="form-control" id="messageDate" placeholder="date" required validate>
        </div>
        <div class="col-sm-6 form-group">
          <input type="text" name="messageName" ng-model="newMessage.Name" class="form-control" id="messageName" placeholder="name" required>
        </div>
      </div>
      <div class="form-group">
        <textarea name="messageText" placeholder="Message..." ng-model="newMessage.Content" class="form-control" id="messageText" rows="3" required></textarea>
      </div>
      <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary" ng-click="addMessage(newMessage);newMessage = null;">Submit</button>
    </form>
  </div>
  <h3>Messages</h3>
  <ul id="messages"  class="list-group" ng-show="messages.length">
    <li class="list-group-item" ng-repeat="message in messages | reverse">
      <p>{{message.Content}}</p>
      <small><strong>{{message.Name}}</strong> {{message.Date | date:'MMM dd, yyyy'}}</small>
    </li>
  </ul>
  <p class="alert alert-danger" ng-show="err">{{err}}</p>
</div>
