<ol class="breadcrumb">
    <li><a href="#/lessons">Lessons</a></li>
    <li class="active">{{items[whichItem].title}}</li>
  </ol>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info text-center" ng-show-auth>
        To edit lesson items, go to the <a href="#/lesson-admin"  class="btn btn-success btn-xs">lesson admin page</a>
      </div>
    </div>
    <div class="col-md-12">
      <div ng-show="!editItem">
        <div class="thumbnail">
          <div class="caption">
            <img ng-src="{{items[whichItem].lessonImage}}" class="img-responsive">
            <div class="row">
              <div class="col-sm-4">
                <h3>Category</h3>
                <p class="small">{{items[whichItem].category}}</p>
                <h3>Date Created</h3>
                <p>{{items[whichItem].date | date:'MMM dd, yyyy'}}</p>
                <h3>Questions?</h3>
                <p>Do you have questions about the <em>{{items[whichItem].title}}</em> lesson? Feel free to <a href="mailto:{{constant.primaryEmail}}">email</a> or call me at <a href="tel:{{constant.primaryPhone}}">{{constant.primaryPhone}}</a> to discuss.</p>
              </div>
              <div class="col-sm-8">
                <h1>{{items[whichItem].title}}</h1>
                <hr>
                <div ng-bind-html="items[whichItem].lessonVideo | unsafe" class="embed-responsive embed-responsive-16by9"></div>
                <div ng-bind-html="items[whichItem].text | unsafe ">
                </div>
                <a href="#/lessons" class="btn btn-primary">Back to Lessons</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
