<banner-image></banner-image>
<div class="container">
  <div class="row strapline">
    <div class="col-sm-4">
      <img ng-src="{{content.teaser1_image}}" alt="" class="img-responsive">
      <div class="well" ng-show="isNotEditable">
        <label for="teaser_image">Strapline Image Link (205x205)</label>
        <input type="text" ng-model="content.teaser1_image" class="form-control" id="teaser_image">
      </div>
    </div>
    <div class="col-sm-8">
      <h1 contenteditable ng-model="content.teaser" strip-br="true"></h1>
      <a ng-href="{{content.teaserLink}}" class="btn btn-primary">More Info</a>
      <div class="well" ng-show="isNotEditable">
        <label for="teaserLink">Link location</label>
        <input type="text" ng-model="content.teaserLink" class="form-control" id="teaserLink">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 newsletter">
      <h1 contenteditable ng-model="content.calloutHeadline" ></h1>
      <p class="lead" contenteditable ng-model="content.calloutContent" ></p>
      <a href="#/newsletter" class="btn btn-primary btn-lg" >Sign Up Now</a>
    </div>
    <div class="col-sm-6 col-md-offset-1">
      <div class="embed-responsive embed-responsive-16by9" >
        <div ng-bind-html="content.videoContent | unsafe"></div>
      </div>
      <div contenteditable ng-model="content.videoCaption" class="text-center well"></div>
      <div class="well" ng-show="isNotEditable">
        <label for="teaser">Youtube Embed (iFrame)</label>
        <textarea type="text" rows="5" ng-model="content.videoContent" class="form-control" id="videoContent"></textarea>
        <div class="alert alert-info">
          <p class="small text-center">Check out <a href="https://developers.google.com/youtube/youtube_player_demo" class="btn btn-info btn-xs">this link</a> for info on vid embedding</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-content clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 contenteditable ng-model="content.eventHeader"></h1>
        <div ng-show-auth class="alert alert-info">
          To edit event items, go to the <a href="#/schedule-admin" class="btn btn-xs btn-success">schedule admin page</a>
        </div>
        <div ng-controller="ScheduledisplayCtrl">
          <p ng-show="noEventMessage()">There are currently no events scheduled.</p>
          <!-- <div class="media" ng-repeat="event in events|limitTo:2"> -->
          <div class="media" ng-repeat="event in events | orderBy:'-date' | limitTo:2">
            <div class="media-body">
              <h5>{{event.date | date:'MMM, dd, yyyy'}}</strong></h5>
              <h4 class="media-heading" ng-bind="event.title"></h4>
              <p>{{event.time}}: {{event.venuName}} in {{event.city}}, {{event.state}}</p>
            </div>
          </div>
        </div>
        <a href="#/schedule" class="btn btn-sm btn-primary">Full Schedule</a>
      </div>
      <div class="col-sm-6">
        <h1 contenteditable ng-model="content.teaser2_title"></h1>
        <img ng-src="{{content.teaser2_image}}" alt="" class="img-responsive" >
        <div class="well" ng-show="isNotEditable">
          <label for="teaser2_image">Throwback Image (412x236)</label>
          <input type="text" ng-model="content.teaser2_image" class="form-control" id="teaser2_image">
        </div>
      </div>
    </div>
  </div>
</div>
<edit-content></edit-content>
