<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Events/Schedule Admin</h1>
      <p ng-show="noEventMessage()">There are currently no events scheduled.</p>
    </div>
    <div class="col-sm-6">
      <add-item></add-item>
    </div>
  </div>
  <form class="row well" name="form" novalidate ng-show="isNotEditable">
    <div class="col-sm-12">
      <h1>Add a new Event</h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="title">Event Title</label>
        <input type="text" ng-model="newItem.title" class="form-control" id="title">
        </div>
      <div class="form-group">
        <label for="venuName">Venue Name</label>
        <input type="text" name="venuName" ng-model="newItem.venuName" class="form-control" id="venuName">
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="date">Date</label>
          <input ng-model="newItem.date" class="form-control" id="date" type="date">
        </div>
        <div class="form-group  col-sm-6">
          <label for="time">Time of Event</label>
          <input name="time" ng-model="newItem.time" class="form-control" id="time">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="streetAddress">Event Street Address</label>
          <input name="streetAddress" ng-model="newItem.streetAddress" class="form-control" id="streetAddress">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="city">City</label>
          <input name="city" ng-model="newItem.city" class="form-control" id="city">
        </div>
        <div class="form-group col-sm-4">
          <label for="state">State (Abbr)</label>
          <input name="state" ng-model="newItem.state" class="form-control" id="state">
        </div>
        <div class="form-group col-sm-2">
          <label for="zip">Zip</label>
          <input name="zip" ng-model="newItem.zip" class="form-control" id="zip">
        </div>
      </div>
      <div class="form-group">
        <label for="eventImageLink">Event Image Link (Square Image)</label>
        <input name="eventImageLink" ng-model="newItem.eventImageLink" class="form-control" id="eventImageLink">
      </div>
    </div>
    <div class="col-sm-12">
      <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary" ng-click="addItem(newItem);newItem = null;">Submit</button>
    </div>
  </form>
  <div id="events" ng-show="items.length">
    <div class="row">
      <div class="col-md-12" ng-repeat="item in items">
        <div ng-show="!editItem">
          <div class="thumbnail">
            <div class="caption">
              <div class="row">
                <div class="col-sm-3">
                  <img ng-src="{{item.eventImageLink}}" alt="" class="img-responsive">
                </div>
                <div class="col-sm-7">
                  <p class="lead">{{item.title}} @ {{item.venuName}}</p>
                  <p>{{item.date | date:'MMM, dd, yyyy'}} @ {{item.time}}<br>
                    {{item.streetAddress}}<br>{{item.city}}, {{item.state}} {{item.zip}}
                  </p>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-sm btn-primary pull-right" ng-click="editItem = !editItem">Edit this item</button>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div ng-show="editItem">
            <div class="thumbnail">
              <div class="caption">
                <h3><strong>Editing:</strong> {{item.title}}</h3>
                <div class="form-group">
                  <div class="form-group"><label for="title">Title</label><input class="form-control" type="text" ng-model="item.title" ng-blur="updateItem($index)"></div>
                  <div class="form-group"><label for="venuName">Venue</label><input class="form-control" type="text" ng-model="item.venuName" ng-blur="updateItem($index)"></div>
                  <div class="form-group"><label for="date">Date</label><input class="form-control" type="date" ng-model="item.date" ng-blur="updateItem($index)"></div>
                  <div class="form-group"><label for="time">Time</label><input class="form-control" type="text" ng-model="item.time" ng-blur="updateItem($index)"></div>
                  <div class="form-group"><label for="eventImageLink">Event Image (Square)</label><input class="form-control" type="text" ng-model="item.eventImageLink" ng-blur="updateItem($index)"></div>
                  <div class="form-group"><label for="streetAddress">Street Address</label><input class="form-control" type="text" ng-model="item.streetAddress" ng-blur="updateItem($index)"></div>
                  <div class="form-group"><label for="city">City</label><input class="form-control" type="text" ng-model="item.city" ng-blur="updateItem($index)"></div>
                  <div class="form-group"><label for="state">State</label><input class="form-control" type="text" ng-model="item.state" ng-blur="updateItem($index)"></div>
                  <div class="form-group"><label for="state">Zip</label><input class="form-control" type="text" ng-model="item.zip" ng-blur="updateItem($index)"></div>
                </div>
                <edit-item></edit-item>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>
