<div class="container">
  <h1>Shop</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info text-center" ng-show-auth>
        To edit shop items, go to the <a href="#/shop-admin"  class="btn btn-success btn-xs">shop admin page</a>.
      </div>
    </div>
    <div class="col-md-4" ng-repeat="item in items | orderBy:'title'">
      <div ng-show="!editItem">
        <div class="thumbnail">
          <img ng-src="{{item.productImageLink}}">
          <div class="caption">
            <h3>{{item.title}}</h3>
            <h4>{{item.cost | currency}}</h4>
            <p><strong>Description:</strong> {{item.description}}</p>
            
            <div ng-bind-html="item.paypalLink | unsafe" class="paypal-purchase"></div>

          </div>
        </div>
      </div>
  </div>
</div>
