<div class="container">
  <h1>Admin</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="well">
        <h1 class="text-center"><span class="glyphicon glyphicon-user"></span></h1>
        <a ng-href="#/account" class="btn btn-primary btn-block">Login/Logout Info</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <h1 class="text-center"><span class="glyphicon glyphicon-shopping-cart"></span></h1>
        <a ng-href="#/shop-admin" class="btn btn-primary btn-block">Edit Shop Items</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <h1 class="text-center"><span class="glyphicon glyphicon-calendar"></span></h1>
        <a ng-href="#/schedule-admin" class="btn btn-primary btn-block">Edit Event Items</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <h1 class="text-center"><span class="glyphicon glyphicon-picture"></span></h1>
        <a ng-href="#/image-admin" class="btn btn-primary btn-block">Edit Image Gallery Items</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <h1 class="text-center"><span class="glyphicon glyphicon-facetime-video"></span></h1>
        <a ng-href="#/video-admin" class="btn btn-primary btn-block">Edit Video Items</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <h1 class="text-center"><span class="glyphicon glyphicon-music"></span></h1>
        <a ng-href="#/lesson-admin" class="btn btn-primary btn-block">Edit Lesson Items</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>WebSite Information</h1>
      <div class="well">
        <div class="form-group">
          <label for="siteName">Site Name</label>
          <input type="text" ng-model="constant.siteName" class="form-control" id="siteName" focus>
        </div>
        <div class="form-group">
          <label for="siteDescription">Site Description</label>
          <input type="text" ng-model="constant.siteDescription" class="form-control" id="siteDescription">
        </div>
        <div class="form-group">
          <label for="analyticsUA"><i class="fa fa-line-chart"></i> Google Analytics Number (UA-XXXXX-X)</label>
          <input type="text" ng-model="constant.analyticsUA" class="form-control" id="analyticsUA">
        </div>
        <div class="form-group">
          <label for="primaryEmail"><i class="fa fa-envelope"></i> Primary Email</label>
          <input type="email" ng-model="constant.primaryEmail" class="form-control" id="primaryEmail">
        </div>
        <div class="form-group">
          <label for="primaryPhone"><i class="fa fa-phone"></i> Primary Phone</label>
          <input type="tel" ng-model="constant.primaryPhone" class="form-control" id="primaryPhone">
        </div>
        <div class="form-group">
          <label for="facebookLink"><i class="fa fa-facebook"></i> Facebook Link</label>
          <input type="tel" ng-model="constant.facebookLink" class="form-control" id="facebookLink">
        </div>
        <div class="form-group">
          <label for="twitterLink"><i class="fa fa-twitter"></i> Twitter Link</label>
          <input type="tel" ng-model="constant.twitterLink" class="form-control" id="twitterLink">
        </div>
        <div class="form-group">
          <label for="instagramLink"><i class="fa fa-instagram"></i> Instagram Link</label>
          <input type="tel" ng-model="constant.instagramLink" class="form-control" id="instagramLink">
        </div>
      </div>
    </div>
  </div>
</div>
