<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Video Gallery Items</h1>
      <p ng-show="noVidsMessage()">There are currently no Videos in your gallery.</p>
    </div>
    <div class="col-sm-6">
      <add-item></add-item>
    </div>
  </div>
  <form class="row well" name="form" novalidate ng-show="isNotEditable">
    <div class="col-sm-12">
      <h1>Add a new Video</h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="title">Video Title</label>
        <input type="text" ng-model="newItem.title" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="description">Video Description</label>
        <input type="text" name="description" ng-model="newItem.description" class="form-control" id="description">
      </div>
      <div class="form-group">
        <label for="videoLink">Video Embed Code (From Youtube)</label>
        <textarea rows="5" ng-model="newItem.videoLink" class="form-control" id="videoLink"></textarea>
      </div>
    </div>
    <div class="col-sm-12">
      <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary" ng-click="addItem(newItem);newItem = null;">Submit</button>
    </div>
  </form>
  <div id="events" ng-show="items.length">
    <div class="row">
      <div class="col-md-12" ng-repeat="item in items">
        <div ng-show="!editItem">
          <div class="thumbnail">
            <div class="caption">
              <div class="row">
                <div class="col-sm-3">
                  <div class="embed-responsive embed-responsive-16by9" >
                    <div ng-bind-html="item.videoLink | unsafe"></div>
                  </div>
                </div>
                <div class="col-sm-7">
                  <p class="lead">{{item.title}}</p>
                  <p>{{item.description}}</p>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-sm btn-primary pull-right" ng-click="editItem = !editItem">Edit this item</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="editItem">
          <div class="thumbnail">
            <div class="caption">
              <h3><strong>Editing:</strong> {{item.title}}</h3>
              <div class="row">
                <div class="col-sm-6">
                  <div class="embed-responsive embed-responsive-16by9" >
                    <div ng-bind-html="item.videoLink | unsafe"></div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-group"><label for="title">Title</label><input class="form-control" type="text" ng-model="item.title" ng-blur="updateItem($index)"></div>
                    <div class="form-group"><label for="description">Description</label><input class="form-control" type="text" ng-model="item.description" ng-blur="updateItem($index)"></div>
                    <div class="form-group">
                      <label for="videoLink">Video Embed Code (From Youtube)</label>
                      <textarea rows="5" ng-model="item.videoLink" class="form-control" id="videoLink"  ng-blur="updateItem($index)"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <edit-item></edit-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
